:root{
  padding:0;
  margin:0;
  height:auto;
  max-width: auto;

}


.main_div{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: aliceblue;
}


.center_div
{
border: 7px solid darkslateblue;
border-radius: 50px;
margin:20px;
padding: 20px;

}

.todo
{
  font-family: 'Righteous', cursive;
  border:6px solid darkmagenta;
  border-radius: 30px;
  color:  black
}

.inputbox
{
padding:10px;
margin:10px;
font-size: 20px;
font-family: 'Righteous', cursive;
}

.button{
margin:5px;
}

.button2{
  margin:5px;

}
.button3{
  margin:5px;

}

.list
{
  margin:10px;
  border:5px darkslategray solid;
  font-family: 'Righteous', cursive;
  font-size:large
}